@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
	font-family: 'Dosis', sans-serif;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	letter-spacing: 0.5px;
}

* { color:#fff; text-decoration: none;}

.card-body, .card-text{
  color: #000 !important;
  font-size: 12px;
}

section {
	height: 100vh;
	width: 100vw;
}

.navbar{
  transition: top 0.3s;
  padding: 1rem 7rem 0;
}

.hr-title{
	width: 80px;
	background: white !important;
}

.small-3 {
    font-size: .76172rem !important;
}

.opacity-60 {
    opacity: .6 !important;
}
.text-white .btn-outline-light {
    color: rgba(255,255,255,0.6);
    border-color: rgba(255,255,255,0.3);
}
.w-250 {
    width: 250px !important;
}
.w-150 {
    width: 150px !important;
}
.card-footer {
    padding: 0.3rem 1.25rem !important;
}
.fas{
  padding: 1rem 1rem 0;
}
.btn-round {
    border-radius: 10rem;
}
.btn-xl {
    padding: 10px 38px 10px;
    font-size: 13px;
}
.first{
	z-index: 5;
	background: #00b4db;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #00b4db, #0083b03d);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #00b4db, #0083b03d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.second{
	background: #8360c3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #8360c3, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #8360c3, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.third{
	background: #4b134f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #4b134f, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #4b134f, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fourth{
	background: #4b134f;  /* fallback for old browsers */
}

.fifth{
	background: #4b134f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #333333, #4b134f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #333333, #4b134f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.typewrite{
	color: white;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds, .first {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	display:block;
}

.stars {
	background:#000 url(../images/stars.png) repeat top center;
	z-index:0;
}

.twinkling{
	background:transparent url(../images/twinkling.png) repeat top center;
	z-index:1;

	-moz-animation:move-twink-back 200s linear infinite;
	-ms-animation:move-twink-back 200s linear infinite;
	-o-animation:move-twink-back 200s linear infinite;
	-webkit-animation:move-twink-back 200s linear infinite;
	animation:move-twink-back 200s linear infinite;
}

.clouds{
	background:transparent url('../images/cloud.png') repeat top center;
    z-index:3;

	-moz-animation:move-clouds-back 200s linear infinite;
	-ms-animation:move-clouds-back 200s linear infinite;
	-o-animation:move-clouds-back 200s linear infinite;
	-webkit-animation:move-clouds-back 200s linear infinite;
	animation:move-clouds-back 200s linear infinite;
}

.we-are{
	padding-top: 8rem;
}

.our-identity{
	padding-top: 5rem;
}

p.lead{
	font-size: 1.125rem;
}

.feature-logo{
	font-size: 5rem;
}

/*  Ripple */
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.img-ingredients{
	cursor:pointer;
	width:50px;
	filter:grayscale(100%)opacity(20%);
	-webkit-filter:grayscale(100%)opacity(20%);
}

.img-ingredients:hover{
	filter:grayscale(0%)opacity(100%);
	transition: filter 0.5s;
}

.img-ingredients-overlay{
	cursor:pointer;
	width:50px;
}

.active-overlay{
	filter:grayscale(0%)opacity(100%);
	transition: filter 0.5s;
}

.inactive-overlay{
	filter:grayscale(100%)opacity(20%);
	-webkit-filter:grayscale(100%)opacity(20%);
}

button.close {
    position: absolute;
    top: 10%;
    right: 60px;
}
.prev{
	position: absolute;
    top: 40vh;
    left: 10%;
    font-size: 5rem;
}
.next{
	position: absolute;
    top: 40vh;
    right: 10%;
    font-size: 5rem;
}
.overlay{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00B4DB;
    z-index: 20001;
}

/* ========== LOADER ========== */
body.pace-running {
  overflow: hidden !important;
}

body.pace-done .pace {
  opacity: 0;
  visibility: hidden;
}

.pace {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.pace .pace-activity {
	position: absolute;
    width: 30vw;
    top: 25px;
    left: 35vw;
    height: 80vh;
    background: url(../images/loading.jpg) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.pace .pace-progress:after {
    display: block;
    position: absolute;
    top: 40vh;
    left: -70px;
    width: 100vw;
    content: "Loading " attr(data-progress-text);
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    text-align: left;
    font-weight: bold;
    color: #333;
}

.fooicon .fooicon-loader:before {
  content: '';
  background: url("../img/preloader.gif") no-repeat;
  width: 100px;
  height: 100px;
}
/* ========== LOADER ========== */

/* ========== custom datatable ========= */
.cards tbody tr {
  float: left;
  width: 20rem;
  margin: 0.5rem;
  border: 0.0625rem solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.25);
}
.cards tbody td {
  display: block;
}
.table tbody label {
  display: none;
}
.cards tbody label {
  display: inline;
  position: relative;
  font-size: 85%;
  top: -0.5rem;
  float: left;
  color: #808080;
  min-width: 4rem;
  margin-left: 0;
  margin-right: 1rem;
  text-align: left;
}
tr.selected label {
  color: #404040;
}
.table .fa {
  font-size: 2.5rem;
  text-align: center;
}
.cards .fa {
  font-size: 7.5rem;
}

.r-nav{
  position: absolute;
  right: 5%;
  bottom: 50%;
}

.l-nav{
  position: absolute;
  left: 5%;
  bottom: 50%;
}
